$footerLinkColor: #eeeeee;
.main {
  flex: 1 0 auto;
  .main-menu {
    position: fixed;
    z-index: 3;
    a {
      color: #616161;
      font-size: 1.2rem;
      font-weight: bold;
      outline: 0;
    }
  }
}
footer {
  z-index: 3;
  > .container {
    display: flex;
    flex-direction: row;
    div {
      display: flex;
      flex-direction: column;
      margin: 5px 20px;
      h5 {
        color: $footerLinkColor;
      }
      a {
        color: $footerLinkColor;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-copyright {
    text-align: center;
  }
}
