@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css";
@import "../node_modules/ngmodal/dist/ng-modal.css";
@import "./constants.scss";

html{
  height: 100%;
  body {
      color: $mainTextColor;
      height: 100%;
      > ui-view {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        wis-main {
          display: flex;
          height: 100vh;
          flex-direction: column;
        }
      }
      .btn, .btn-floating {
        background-color: $mainButtonColor;
        &:hover {
           background-color: $mainButtonActivColor;
        }
      }
  }
}
